# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints

# Model files
*.pth
*.h5
*.pkl
*.model
*.weights

# Logs and Checkpoints
*.log
logs/
checkpoints/

# Temporary files
*.tmp
*.bak
*.swp

# OS
.DS_Store
Thumbs.db

# Project files that do not require version control
evaluate.py
main.py
models.py
train.py
models/
analyze_text_length.py
Optuna details.md
BBC_News_CNN_Optuna.py
BBC_News_BERT.py